/images/*.*
/images/skin/*
/images/cape/*
!/images/*/.gitkeep
!/images/skin/steve.png
/static/*
!/static/.gitkeep
node_modules
.idea
/cert/*/*
!/cert/*/.gitkeep
/patcher/build
/patcher/out
/patcher/*.iml
